<!DOCTYPE html>
{% extends 'fibriDB/base.html' %}
{% load static %}
{% block body_block %}
<h1>Add Defibrillator-Location</h1>
{% if user.is_authenticated %}
<h2>Welcome {{ user.username }}!</h2>
<form class="registration" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ item_form.as_p }}
  <input type="submit" name="" value="Submit">
</form>
<div id="map"></div>

<script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 47, lng: 10},
        zoom: 8
      });
      
      var marker;
      function placeMarker(lat, long) {
        if ( marker ) {
          marker.setPosition(location);
        } else {
          marker = new google.maps.Marker({
            position: location,
            map: map
          });
        }


      }
      google.maps.event.addListener(map, 'click', function(event) {
        placeMarker(lat=event.latLng.lat(), long=event.latLng.lng());
        var sublong = parseFloat(long).toFixed(10);
        var sublat = parseFloat(lat).toFixed(10);
        $("#id_longitude").val(sublong);
        $("#id_latitude").val(sublat);
      });

    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkWSWnpxsBOeCI1OxJYzNCUISihFGKCL8&callback=initMap"
  async defer> </script>

  <script>

</script>
{% else %}
<h2>Please register to add locations!</h2>
{% endif %}

{% endblock body_block %}
