body {
  background-color:rgb(245, 245, 245);
}

.main-container {
  max-width:1200px;
  width:100%;
  padding:calc(40px + 2vw);
  margin:0 auto;
  overflow: auto;
}

.inner-container {
  border-radius:3px;
  border:1px solid #cdcdcd;
  box-shadow:2px 2px 30px rgba(0,0,0,0.1);
  padding:calc(40px + 2vw);
  float:left;
  width:100%;
  background-color:#FFFFFF;
}

.menu {
  text-align:center;
  padding:20px;
  float:left;
  width:100%;
  overflow: auto;
}

.menu li {
  list-style-type:none;
  display:inline-block;
  overflow: auto;
}

.menu li a {
  padding:20px;
  font-size:18px;
  color:rgb(128, 128, 128);
}