body {
  background-color:rgb(245, 245, 245);
}

.main-container {
  max-width:100%;
  width:100%;
  padding:calc(40px + 2vw);
  margin:0 auto;
  overflow: auto;
}

.header {
  float: left;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  height: calc(40px + 5vw);
}

.header img {
  max-width:100px;
  float:left;
  padding:15px;
  display:flex;
}

.content {
  padding:calc(40px + 2vw);
  float:left;
  width:100%;
}
.inner-container {
  border-radius:3px;
  border:1px solid #dbdbdb;
  box-shadow:2px 2px 30px rgba(0,0,0,0.1);
  float:left;
  width:100%;
  background-color:#FFFFFF;
}

.menu {
  text-align:center;
  padding:20px;
  float:left;
  width:100%;
  overflow: auto;
  display: flex;
  justify-content: flex-end;
}

.menu li {
  list-style-type:none;
  display:inline-block;
  overflow: auto;
  display:flex;
  align-self:center;
  transition:all 0.2s ease-out;
  margin-right:10px;
  border-radius:3px;
}


.menu li a {
  padding:1vw;
  font-size:18px;
  color:rgb(166, 166, 166);
  text-decoration:none;
}

.menu li:hover {
  transition:all 0.1s ease-out;
  box-shadow:5px 5px 20px rgba(0,0,0,0.1);
  background-color:#00a651;
  transform:scale(1.01);
}

.menu li:hover a{
  transition:all 0.1s ease-out;
  color:#FFFFFF;
}

form.login input {
  padding:10px;
  margin-right:10px;
  border-radius:5px;
  border:1px solid #dbdbdb;
}


form.registration label,
form.registration input,
form.registration select {
  display:block;
  padding:10px;
}

form.registration input,
form.registration select {
width:100%;
border-radius:5px;
border:1px solid #dbdbdb;
}

form.registration input[type="submit"] {
  margin-top:30px;
  background-color:#00a651;
  color:#FFFFFF;
}

form.registration label {
  padding-left:0px;
}

form.registration .helptext {
  display:none;
}
  
#map {
    height: 300px;
    width: 100%;
  }